@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Kavoon&family=Monda:wght@400..700&family=Rubik+Mono+One&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import "tailwindcss";

@theme{
    --font-kavoon: "Kavoon";
    --color-mainOrange: #F58811;
    --color-lowGray: #716C6C;
}